Webapp/App/bower_components/
Ejemplo/src/Ejemplo.Repository/obj/
Ejemplo/src/Ejemplo.Repository/bin/
Ejemplo/src/Ejemplo.MongoProvider/obj/
Ejemplo/src/Ejemplo.MongoProvider/bin/
Ejemplo/src/Ejemplo.Entities/obj/
Ejemplo/src/Ejemplo.Entities/bin/
project.lock.json
db/
Soft/
Ejemplo/src/Ejemplo.Booter/obj/
Ejemplo/src/Ejemplo,Application/obj/
Ejemplo/src/Ejemplo,Application/bin/
Ejemplo/src/Ejemplo.Booter/bin/
*/bin
*/obj
Ejemplo/src/Ejemplo.Api/obj/
Ejemplo/src/Ejemplo.Api/bin/
.vs/
Ejemplo/src/Ejemplo.DTO/obj/
npm-debug.log.2000864184
.DS_Store
Webapp/App/.DS_Store
Webapp/App/npm-debug.log*
Webapp/npm-debug.log.1692139028
Ejemplo/
